body {
  margin: 0;
  padding: 40px 0;
  font-family: "Dancing Script", cursive;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/1200x/e2/37/a8/e237a8b0e9dfbaddcf556f6700f9952e.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  background: linear-gradient(to top, #ffffff, #ffe45de4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: "Love Light", cursive;
  font-weight: 600;
  font-style: normal;
}

#image {
  width: 750px;
  height: 500px;
  margin: 0 auto 40px;
  border-radius: 15px;
  border-style: ridge;
  border: 3px #fff700;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/1200x/e2/37/a8/e237a8b0e9dfbaddcf556f6700f9952e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
  font-family: "Meow Script", cursive;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease, transform 0.2s ease;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  outline: 3px solid #7f7d7f;
  outline-offset: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/1200x/e2/37/a8/e237a8b0e9dfbaddcf556f6700f9952e.jpg");
  background-size: auto;
  background-position: -30px;
}
.preview {
  width: 130px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #bfbf09bb;
  transition: transform 0.25s ease, border-color 0.25s ease,
    box-shadow 0.25s ease;
  filter: brightness(0.9);
}

.preview:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 15px #dfee0e66;
  filter: brightness(1);
}

#image:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 15px #dfee0e66;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 5px;
  color: white;
  text-align: center;
  padding: 30px 0;
  font-family: "Lavishly Yours", cursive;
  font-size: 20px;
  border-top: 3px solid #7f7d7f;
  background-color: black;
}
footer a {
  color: rgb(216, 202, 0);
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}
footer p {
  margin: 25px 0px 5px;
}
